body {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    height: 100%;
}
.b-loginbody {
    background: #eee;
    margin-top: 100px;
}
.b-adminbody {
    padding-top: 10px;
    background: #eee;
}
.b-loginform {
    padding: .5em 1em;
}
.b-btnpadded {
    margin-top: 8px;
}
.colorpicker-icon {
    display: block;
    width: 1em;
    height: 1em;
    background: #000;
}
.bg {
    padding: 10px;
    width: 120px;
    height: 120px;
}
.bg-img {
    max-width: 100px;
    max-height: 100px;
}
.sortable > .panel-heading {
    cursor: move;
}